# Terraform local directories
**/.terraform/*

# Terraform state
*.tfstate
*.tfstate.*

# Crash logs
crash.log
crash.*.log

# Local variable files
*.tfvars
*.tfvars.json

# Local override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI plan files
*.tfplan

# Local backend configuration
*.tfbackend
